/* termsandconditions.css */

/* General styling for the Terms and Conditions page */
.terms-conditions {
    background-color: #fff; /* White background */
    color: #333; /* Dark text for readability */
    padding: 10px 100px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  .terms-conditions h2 {
    font-size: 2rem;
    background: var(--gradient-blue);
    color: white;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
  }
  
  .terms-conditions h3 {
    font-size: 1.5rem;
    color: black;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  
  .terms-conditions p {
    font-size: 1rem;
    margin-bottom: 15px;
  }
  
  /* Adjust for right-to-left text direction */
  .terms-conditions.rtl {
    text-align: right;
    direction: rtl;
  }
  
  .terms-conditions.rtl h2,
  .terms-conditions.rtl h3,
  .terms-conditions.rtl p {
    text-align: right;
  }
  