/* Footer container */
.footer-container {
    overflow-x: hidden;
    background-color: #f5f5fa;
    padding: 2rem 1rem;
    color: #333;
    font-family: Arial, sans-serif;
}

.rtl .footer-container, .rtl .footer-content{
    flex-direction: row-reverse;
}
.loc-min{
    flex-direction: start;
    display: flex ;
    flex-direction: column;
    p{
        align-items: center;
        display: flex;
    }
}
.rtl .loc-min{
    flex-direction: end;
    display: flex ;
    flex-direction: column;
    p{
        align-items: center;
        display: flex;
        flex-direction: row-reverse;
        gap: 20px;
    }
}

.footer-content {
    display: flex;
    justify-content: start;
    max-width: 1200px;
    margin: 0 auto;
    gap: 1rem;
    
}

.footer-section {
    flex: 1;
    min-width: 200px;
}

.footer-logo {
    width: 150px;
    margin-bottom: 1rem;
}

.footer-section h3 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    color: #333;
}

.footer-section p {
    font-size: 0.95rem;
    margin-bottom: 0.5rem;
    color:var(--light-orange);
    line-height: 1.5;
}

.footer-section a {
    display: block;
    font-size: 0.95rem;
    color: var(--gradient-blue); /* Initial blue color */
    margin-bottom: 0.5rem;
    color:var(--light-orange);
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

/* Social Icons */
.social-icons {
    display: flex;
    gap: 0.5rem;
    font-size: 24px;  /* Set icon size to 24px */
    margin-top: 1rem;
}
.rtl .social-icons{
    flex-direction: row-reverse;
}

.social-icons svg {
    color: var(--light-orange); /* Initial blue color */
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons svg:hover {
    color: #1f35ff; /* Darker blue on hover */
    transform: scale(1.1); /* Slightly enlarge on hover */
}

/* Footer bottom */
.footer-bottom {
    text-align: center;
    padding-top: 1.5rem;
    border-top: 1px solid #ddd;
    font-size: 0.85rem;
    color: #666;
    margin-top: 2rem;
}

.footer-content p svg {
    margin-right: 0.5rem;
    background-color: black;
    padding: 20px;
    border-radius: 50px;
    color: var(--light-orange); /* Initial blue color */
    transition: background-color 0.3s ease-in-out;
    &hover{
        background-color: #333;
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-section {
        margin-bottom: 1.5rem;
    }
}
