.driver-reg {
  display: flex;
  background-color: var(--white);
  margin: auto;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 100px;
}

.driver-registration {
  width: 50%;
  padding: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #e0e0e0;
}

.right-info {
  width: 50%;
  padding: 3rem;
  /* background-image: url('your-image-url.jpg');  */
  background-size: cover;
  background-position: center;
  color: var(--light-orange);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-info h2 {
  font-size: 2rem;
  color: var(--deep-orange);
}

.right-info p {
  margin-top: 1rem;
  line-height: 1.6;
  font-size: 1.1rem;
}


/* Form styling */
.driver-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Label styling */
label {
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--dark);
  margin-bottom: 0.5rem;
}

/* Input fields styling */
input[type="text"],
input[type="email"],
input[type="tel"] {
  padding: 0.8rem;
  font-size: 1.1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
  border-color: var(--deep-orange);
  outline: none;
}

/* Captcha section styling */
.captcha-check {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1.5rem;
  font-size: 1rem;
}

/* Submit button styling */
.submit-button {
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--white);
  background: var(--deep-orange);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background: var(--gradient-orange);
}

/* Success message styling */
.success-message {
  text-align: center;
  color: var(--light-orange);
  margin-top: 2rem;
}

.success-message h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--deep-orange);
}
.error-input {
  border-color: red;
}

.error-text {
  color: red;
  font-size: 0.9rem;
}

.submit-button:disabled {
  background-color: grey;
  cursor: not-allowed;
}
