/* Base styles for both navbars */
.navbar {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    z-index: 20;
    transition: top 0.5s ease;
    padding: 10px 20px;
}

/* Top Navbar */
.navbar-top {
    position: relative;
    top: 0;
    box-shadow: none;
}

/* Scrolling Navbar */
.navbar-scroll {
    position: fixed;
    top: -100px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

/* Navbar Visibility */
.navbar-scroll.navbar-visible {
    top: 0;
}

/* Link Container for Desktop */
.links-container-min {
    display: flex;
    gap: 40px;
}

/* RTL Adjustment: Reverse Link Container Order */
.rtl .links-container-min {
    flex-direction: row-reverse;
}

/* Links styling */
.links {
    display: flex;
    gap: 20px;
}

.links li {
    list-style-type: none;
    font-size: 1rem;
    font-weight: 700;
}

/* Language Toggle */
.language-toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    color: var(--primary-color);
}

/* Logo */
.logo-min-image {
    width:105px;
    height: 70px;
}

/* Menu Button for Mobile */
.menu-button {
    display: none;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

/* Responsive Styles for Mobile */
@media (max-width: 768px) {
    .links-container-min {
        display: none;
    }

    .menu-button {
        display: block;
    }

    .links-container-mobile {
        display: flex;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: white;
        width: 100%;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
        padding: 10px 0;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-10px);
        transition: visibility 0s, opacity 0.3s ease, transform 0.3s ease;
    }

    /* RTL Adjustment: Mobile Navbar opens from the left */
    .rtl .links-container-mobile {
        right: auto;
        left: 0;
    }

    .navbar.open .links-container-mobile {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }

    .links-container-mobile li {
        padding: 10px 0;
        font-size: 18px;
    }
    .rtl .navbar{
            flex-direction: row-reverse;
        
    }
}
