/* Base styles for the entire app */
html, body {
  margin: 0;
  padding: 0;
  
}


/* Home page styles */
.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  margin-bottom: 300px;
  padding: 0 50px;
  h3{

    color: var(--gradient-blue);
    font-style: oblique;
  }
}

.home-page-min {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 100vh;
}

/* Reverse flex for RTL layouts */
/* Reverse directions in RTL */
.rtl .home-page-min, 
.rtl .about-container-min, 
.rtl .app-container-min {
  flex-direction: row-reverse;
}

.opener-min {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}

.opener-min {
  width: 60%;
  background-color: transparent;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-container-min {
  flex: 1;
  padding-right: 20px;
  padding: 20px;
}

.welcome-container-min ul {
  padding: 0;
  margin: 0;
}

.image-container-min {
  flex: 1;
  display: flex;
  justify-content: center;
}

.image-container-min img {
  max-width: 100%;
  height: auto;
}

.about-container-min {
  width: 80%;
  margin-bottom: 300px;
  margin-top: 200px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.about-content-min {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

.about-content-min li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  h5{
    margin: 20px;
  }
  p{
    margin: 10px;
  }
}

.about-content-min li img {
  display: flex;
  width:120px;
}

.iphone-content-min img {
  width: 280px;
}

.app-container-min {
  position: absolute;
  top: 265%;
  display: flex;
  flex-direction: row-reverse;
  padding: 20px;
  border-radius: 50px;
  background: var(--gradient-blue);
  width: 80%;
  height: 40%;
  align-items: center;
  justify-content: space-around;
}

.app-container-min h4 {
  color: white;
}

.app-container-min p {
  color: white;
}

.app-container-min li {
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
}

.app-content-min {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.app-content-min ul {
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: center;
}

.app-content-min ul li {
  list-style: none;
  margin: none;
}

.app-container-min img {
  max-width: 200px;
}

.content-min {
  flex-direction: column;
}

button.app-link-min {
  border: none;
  border-radius: 50px;
  width: 200px;
  height: 50px;
  background: var(--gradient-orange);
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  list-style: none;
}

.welcome-container-min ul {
  gap: 10px;
  display: flex;
}

button.signup-driver-min {
  border: none;
  border-radius: 50px;
  width: auto;
  font-weight: 600;
  padding: 20px;
  height: 50px;
  background: var(--gradient-blue);
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container-min {
  width: 80%;
}
